/*
==========================================================================
  TAILWIND CONFIGURATION FOR THEME
==========================================================================
*/

@theme {
  /*
  ----------------------------------------------------------------------
    COLORS
  ----------------------------------------------------------------------
  */

  --color-bg-primary: var(--bg-primary);
  --color-bg-secondary: var(--bg-secondary);
  --color-bg-tertiary: var(--bg-tertiary);
  --color-bg-quaternary: var(--bg-quaternary);
  --color-bg-quaternary-hover: var(--bg-quaternary-hover);
  --color-bg-quinary: var(--bg-quinary);
  --color-bg-hover: var(--bg-hover);
  --color-bg-focused: var(--bg-focused);

  --color-border-primary: var(--border-primary);
  --color-border-secondary: var(--border-secondary);

  --color-text-primary: var(--text-primary);
  --color-text-secondary: var(--text-secondary);
  --color-text-muted: var(--text-muted);

  --color-accent-primary: var(--accent-primary);
  --color-accent-primary-hover: var(--accent-primary-hover);
  --color-accent-secondary: var(--accent-secondary);
  --color-accent-tertiary: var(--accent-tertiary);

  --color-success: var(--success);
  --color-warning: var(--warning);
  --color-error: var(--error);
  --color-info: var(--info);
  --color-event: var(--event);

  /*
  ----------------------------------------------------------------------
    TYPOGRAPHY
  ----------------------------------------------------------------------
  */

  --font-sans: var(--font-family);

  --text-3xs: var(--text-3xs);
  --text-2xs: var(--text-2xs);
  --text-xs: var(--text-xs);
  --text-xsm: var(--text-xsm);
  --text-sm: var(--text-sm);
  --text-smd: var(--text-smd);
  --text-md: var(--text-md);
  --text-lmd: var(--text-lmd);
  --text-lg: var(--text-lg);
  --text-xl: var(--text-xl);

  /*
  ----------------------------------------------------------------------
    RADIUS
  ----------------------------------------------------------------------
  */

  --radius-2xs: var(--radius-2xs);
  --radius-xs: var(--radius-xs);
  --radius-sm: var(--radius-sm);
  --radius-md: var(--radius-md);
  --radius-lg: var(--radius-lg);
  --radius-xl: var(--radius-xl);

  /*
  ----------------------------------------------------------------------
    SHADOWS
  ----------------------------------------------------------------------
  */

  --shadow-sm: var(--shadow-sm);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
}